@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr / 1fr 5fr;
}

.sidebar {
    background-color: #D45419;
    color: whitesmoke;
    padding: 30px;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
    justify-items: flex-start;
    align-items: flex-start;
}

.sidebar h3 {
    margin: 0;
}

.title, .nav, .setting {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

i[class*="clipboard"] {
    font-size: 2rem;
}

i + h1 {
    margin: 0 0 40px;
}

.nav {
    margin-bottom: 60px;
}

.option {
    color: whitesmoke;
    text-decoration: none;
}

.option:hover {
    color: #1B1B1B;
    text-decoration: underline;
}

.header {
    max-height: 12vh;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 20px 30px 25px;
}

.header > div { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 6vh;
}

.search {
    display: grid;
    grid-template: auto / auto 1fr;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: flex-end;
    gap: 24px;
    margin-right: 32px;
}

.username, .users {
    display: grid;
    grid-template: auto / repeat(2, max-content);
    gap: 16px;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template: auto / repeat(3, max-content);
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin: 0 30px 32px;
}

.main-content {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 30px;
}

.main-content > div:first-of-type {
    grid-row: 1 / 3;

    display: grid;
    grid-template: min-content / repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    justify-content: flex-start;
    align-content: flex-start;
    margin-right: 30px;
    gap: 25px;
}

.main-heading {
    grid-column: 1 / 4;
    margin-bottom: 0;
}

.main-heading ~ div {
    background-color: #FFFFFF;
    width: fit-content;
    padding: 6px 24px;
    border-radius: 16px;
}

.announcement > div {
    background-color: #FFFFFF;
    padding: 6px 20px;
    border-radius: 16px;
    margin: 24px 20px 0 0;
}

.trending > div {
    background-color: #FFFFFF;
    padding: 6px 20px;
    margin-right: 20px;
}
